@keyframes switch-bg1 {
  0% {
    background-color: #fce300;
  }
  50% {
    background-color: #fcc100;
  }
  100% {
    background-color: #fc7e00;
  }
}
@keyframes switch-bg2 {
  0% {
    background-color: rgb(247, 247, 108);
  }
  50% {
    background-color: rgb(201, 201, 0);
  }
  100% {
    background-color: rgb(133, 133, 3);
  }
}
@keyframes switch-col {
  0% {
    color: #000000;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  padding: 30px 0px 15px 0px;
  font-size: 35px;
  font-weight: bolder;
}

.text--white {
  color: white;
}

header {
  width: 100%;
  background: rgb(43, 33, 220);
  background: linear-gradient(7deg, rgb(43, 33, 220) 0%, rgb(96, 99, 254) 0%, rgb(0, 212, 255) 100%);
  padding: 30px 0px;
}

.conteiner-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.conteiner-header__logo {
  padding-bottom: 50px;
}
.conteiner-header__left {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
}
.conteiner-header__left__h1 {
  margin: 10px 0px;
  padding: 0;
}
.conteiner-header__left__span {
  font-size: 40px;
  font-family: "Ubuntu";
  font-weight: bold;
}
.conteiner-header__left__p {
  width: 400px;
  margin: 20px 0px;
}
.conteiner-header__left__button {
  background-color: #fce300;
  padding: 10px 15px;
  text-decoration: none;
  animation: switch-bg1 2s linear 0s infinite alternate;
}
.conteiner-header__right__img {
  width: 350px;
}

.section-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 200px 100px 200px;
}
.section-first__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section-first__container-block {
  width: 200px;
  font-size: 17px;
  transition: font-size 2s;
}
.section-first__container-block:hover {
  font-size: 20px;
}
.section-first__container-img {
  width: 80px;
  transition: transform 1s, width 1s;
}
.section-first__container-img:hover {
  transform: rotate(5deg);
  width: 90px;
}

.section-second {
  display: flex;
  background-color: #e9f6ff;
  justify-content: center;
  flex-direction: column;
  padding: 20px 200px 100px 200px;
  text-align: center;
  align-items: center;
}
.section-second form {
  display: flex;
  flex-direction: column;
}
.section-second form input {
  padding: 15px;
  border-radius: 10px;
  margin: 5px 0px;
  width: 300px;
}
.section-second form button {
  background-color: rgb(247, 247, 108);
  padding: 20px;
  border-radius: 10px;
  animation: switch-bg2 4s ease 0s infinite alternate;
}

.section-second-dop {
  display: flex;
  background-color: #e9f6ff;
  justify-content: center;
  flex-direction: column;
  padding: 20px 200px 100px 200px;
  text-align: center;
  align-items: center;
}
.section-second-dop form {
  display: flex;
  flex-direction: column;
}

.error{
  color: red; 
}

.section-second-dop form input {
  padding: 15px;
  border-radius: 10px;
  margin: 5px 0px;
  width: 300px;
}
.section-second-dop form button {
  background-color: rgb(247, 247, 108);
  padding: 20px;
  border-radius: 10px;
  animation: switch-bg2 4s ease 0s infinite alternate;
}

.footer {
  text-align: center;
  padding: 50px 0px;
  background: linear-gradient(160deg, rgb(43, 33, 220) 0%, rgb(157, 159, 255) 0%, rgb(92, 104, 254) 64%, rgb(0, 212, 255) 100%);
}

/* Large devices (1300px and up)*/
@media screen and (max-width: 1300px) {
  .section-first {
    padding: 0px 40px 70px 40px;
  }
  .section-second {
    padding: 20px 40px 70px 40px;
  }
}
/* Medium devices (tablets, 830px and up)*/
@media screen and (max-width: 830px) {
  .section-first {
    padding: 0px 20px 70px 20px;
  }
  .section-second {
    padding: 20px 20px 70px 20px;
  }
  .conteiner-header__left {
    align-items: center;
  }
  .conteiner-header__left__h1, .conteiner-header__left__p {
    text-align: center;
  }
  .logo {
    padding-bottom: 0px;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 576px) {
  .section-first {
    padding: 0px 0px 70px 0px;
  }
  .section-second {
    padding: 20px 0px 70px 0px;
  }
  .conteiner-header__left {
    align-items: center;
  }
  .conteiner-header__left__h1, .conteiner-header__left__p {
    text-align: center;
  }
  .logo {
    padding-bottom: 0px;
  }
}/*# sourceMappingURL=style.css.map */