
{% extends 'base.html' %}
{% load static %}



{% block content %}


<div class="container-feedback">
    <div class="left-side">
        <div class="feedback-title-left">
        <h2>Поделитесь с нами вашими впечатлениями о нашем путеводителе!</h2>
        </div>
        <form method="POST" сlass="feedback-form">
            {% csrf_token %}

            {{form.username}}
            {{form.email}}
            {{form.feedback}}
            

           
            <span>{{ error }}</span>
            <button class="btn-feedback" type="submit">Отправить</button>
        </form>
    </div>
    <div class="right-side">
        <div class="feedback-title-right">
            <h2>а тут почитайте отзывы других я это перепишу Лёва</h2>
            </div>

    </div>
</div>


{% endblock %}