{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-feedback">
    <div class="feedback-form-container">
        <div class="feedback-title-left">
            <h2>Поделитесь вашими впечатлениями!</h2>
        </div>
        <form method="POST" сlass="feedback-form">
            {% csrf_token %}
            {{ form.username }}
            {{ form.email }}
            {{ form.feedback }}
            <span>{{ error }}</span>
            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
    </div>
    <div class="reviews-container">
        <div class="feedback-title-right">
            <h2>Отзывы наших путешественников!</h2>
        </div>
        {% for review in news %}
        <div class="review">
            <h3>{{ review.username }}</h3>
            <p>{{ review.feedback }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
