<!-- main/templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div id="cityCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/ekaterinburg.jpg' %}" class="d-block w-100" alt="Екатеринбург">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Екатеринбург</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/moscow.jpg' %}" class="d-block w-100" alt="Москва">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Москва</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/saint_petersburg.jpg' %}" class="d-block w-100" alt="Санкт-Петербург">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Санкт-Петербург</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#cityCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#cityCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
</div>
{% endblock %}
