<!-- navbar.html -->
{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logo.png' %}" width="45" height="45" class="d-inline-block" alt="logo" loading="lazy">
        RusVoyage
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'feedback' %}">Отзывы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'help' %}">Помощь</a>
            </li>
            {% if request.session.user_id %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ request.session.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' %}">Мой профиль</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <button class="nav-link btn btn-login text-white" data-toggle="modal" data-target="#authModal">Войти</button>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
