{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-profile">
    <div class="header animate__animated animate__fadeIn">
        <h2><p>Добро пожаловать, {{ request.session.username }}!</p></h2>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
        <div class="card animate__animated animate__fadeIn m-2">
            <img src="{% static 'images/profile/booking.png' %}" class="card-img-top" alt="Посмотрите ваши последние бронирования и добавьте новое.">
            <div class="card-body">
                <h5 class="card-title">Мои бронирования</h5>
                <p class="card-text">Посмотрите ваши последние бронирования и добавьте новое.</p>
                <a href="#" class="btn btn-primary">Перейти</a>
            </div>
        </div>
        <div class="card animate__animated animate__fadeIn m-2">
            <img src="{% static 'images/profile/testimonials.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Мои отзывы</h5>
                <p class="card-text">Оставьте новый отзыв о вашем путешествии.</p>
                <a href="#" class="btn btn-primary">Перейти</a>
            </div>
        </div>
        <div class="card animate__animated animate__fadeIn m-2">
            <img src="{% static 'images/profile/account.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Личные данные</h5>
                <p class="card-text">Просмотр и редактирование ваших личных данных.</p>
                <a href="#" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>

    <div class="visited-cities mt-4">
        <h5 class="visited-cities-title">Отметьте посещённые города:</h5>
        <form>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="moscow">
                    <label class="form-check-label" for="moscow">
                        Москва
                    </label>
                </div>
                <div class="col-md-4 col-sm-6 col-12 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="saint-petersburg">
                    <label class="form-check-label" for="saint-petersburg">
                        Санкт-Петербург
                    </label>
                </div>
                <div class="col-md-4 col-sm-6 col-12 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="novosibirsk">
                    <label class="form-check-label" for="novosibirsk">
                        Новосибирск
                    </label>
                </div>
                <div class="col-md-4 col-sm-6 col-12 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="yekaterinburg">
                    <label class="form-check-label" for="yekaterinburg">
                        Екатеринбург
                    </label>
                </div>
                <div class="col-md-4 col-sm-6 col-12 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="kazan">
                    <label class="form-check-label" for="kazan">
                        Казань
                    </label>
                </div>
                <div class="col-md-4 col-sm-6 col-12 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="nizhny-novgorod">
                    <label class="form-check-label" for="nizhny-novgorod">
                        Нижний Новгород
                    </label>
                </div>
                <div class="col-md-4 col-sm-6 col-12 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="chelyabinsk">
                    <label class="form-check-label" for="chelyabinsk">
                        Челябинск
                    </label>
                </div>
                <div class="col-md-4 col-sm-6 col-12 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="samara">
                    <label class="form-check-label" for="samara">
                        Самара
                    </label>
                </div>
                <div class="col-md-4 col-sm-6 col-12 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="omsk">
                    <label class="form-check-label" for="omsk">
                        Омск
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
