/* feedback-css.css */

.container-feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

/* Стили для блока с формами */
.feedback-form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Стили для блока с отзывами */
.reviews-container {
    width: 100%;
}

/* Стили для комментариев */
.feedback-title-left,
.feedback-title-right {
    text-align: center;
    margin-bottom: 20px;
    max-width: 90%;
    margin: 0 auto;
}

/* Стили для кнопки */
.btn-primary {
    margin-top: 10px;
    width: 100%;
}

/* Стили для отдельного комментария */
.review {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px, -5px);
    transition: box-shadow 0.5s, transform 0.5s;
}

/* Стили для комментариев */
.feedback-title-left h2,
.feedback-title-right h2 {
    font-size: 24px;
    color: #333;
}

.review h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.review p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

/* Подчеркивание для заголовков */
.feedback-title-left h2::after,
.feedback-title-right h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: #007bff;
    margin: 10px auto;
}

/* Стили для комментариев */
.feedback-title-left h2,
.feedback-title-right h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Медиа запросы */
@media (min-width: 768px) {
    .container-feedback {
        flex-wrap: nowrap;
    }

    .feedback-form-container,
    .reviews-container {
        width: 48%;
        margin: 0;
    }
}

